# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Environment variables (KEEP SECRET)
.env

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: backup files
*.save
